<div class="container">
  <div class="card card-container">
    <img
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      id="profile-img"
      class="profile-img-card"
    />
    <!-- <div *ngIf="message" class="alert alert-success mt-3 mb-0">{{message}}</div> -->
    <form name="tweetForm">
      <div class="form-group">
        <label for="tweetTyped">Edit your tweet</label>
        <input
          type="text"
          name="tweetTyped"
          class="form-control input-text-custom"
          [(ngModel)]="tweet.desc"
          required
        />
      </div>
      <button
        class="btn btn-lg btn-primary btn-block btn-signin form-submit-button"
        (click)="updateTweet()"
      >
        Update Tweet
      </button>
    </form>
    <a [routerLink]="['/profile']" class="btn btn-link">Back to Profile</a>
  </div>
</div>
